* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  width: 100%;
}

@font-face {
  font-family: Caveat-Bold;
  src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Caveat;
  src: url(fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: GillSans-Italic;
  src: url(fonts/GillSans\ Italic.ttf);
}
@font-face {
  font-family: GillSans-Light;
  src: url(fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: GillSans;
  src: url(fonts/GillSans.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-BoldItalic;
  src: url(fonts/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: Lato-Italic;
  src: url(fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Regular.ttf);
}
.navHolder {
  height: 132px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -132px;
}
.navHolder .nav-logo {
  margin-left: 50px;
  width: 224px;
  height: 55px;
  background-image: url(../images/logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.navHolder .nav-links {
  margin: auto 50px auto auto;
}
.navHolder .nav-links a {
  font-family: Caveat;
  font-size: 25px;
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}
.navHolder .nav-links a span {
  height: 52px;
  width: 158px;
  width: 300px;
  background-color: #ffd972;
  border-radius: 10px;
}
.navHolder .nav-bars {
  display: none;
  flex-direction: column;
  margin-right: 37px;
}
.navHolder .nav-bars .nav-bar {
  display: block;
  width: 25px;
  margin: 3px 0;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-bars.active .nav-bar:nth-child(2) {
  opacity: 0;
}
.nav-bars.active .nav-bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.nav-bars.active .nav-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 1330px) {
  .navHolder .nav-logo {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navHolder {
    position: fixed;
    z-index: 10;
  }
  .navHolder .nav-links {
    position: fixed;
    width: 100vw;
    opacity: 0;
    right: 1000px;
    top: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
    margin: 0 auto;
  }
  .navHolder .nav-links a {
    margin: 30px auto;
  }
  .navHolder .nav-links.active {
    opacity: 1;
    right: 0;
    left: 0;
  }
  .navHolder .nav-bars {
    display: flex;
  }
}
.home {
  height: 800px;
  background-image: linear-gradient(rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .home-banner .home-circle-one {
  height: 358px;
  width: 358px;
  border-radius: 179px;
  background-color: #ffd972;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .home-banner .home-circle-one h1 {
  font-family: Caveat-Bold;
  font-size: 24px;
}
.home .home-banner .home-circle-one p {
  font-family: Lato;
  font-size: 13px;
  width: 166px;
}
.home .home-banner .home-circle-two {
  height: 168px;
  width: 168px;
  background-color: #fcbcb8;
  border-radius: 84px;
  position: absolute;
  margin: 0 0 320px 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-banner .home-circle-two p {
  font-family: Lato-Italic;
  font-size: 10px;
  width: 105px;
}

@media screen and (max-width: 768px) {
  .home .home-banner .home-circle-two {
    margin: 0 0 370px 190px;
  }
}
@media screen and (max-width: 480px) {
  .home .home-banner .home-circle-one {
    width: 260px;
    height: 260px;
    border-radius: 130px;
  }
  .home .home-banner .home-circle-one h1 {
    font-size: 17px;
  }
  .home .home-banner .home-circle-one p {
    font-size: 9px;
    width: 114px;
  }
  .home .home-banner .home-circle-two {
    width: 120px;
    height: 120px;
    margin: 0 0 270px 140px;
  }
  .home .home-banner .home-circle-two p {
    font-size: 8px;
    width: 82px;
  }
}
.recipes {
  min-height: 1000px;
  background-image: linear-gradient(rgba(167, 232, 189, 0.5), rgba(167, 232, 189, 0.5)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes .recipes-content {
  padding-top: 200px;
  padding-bottom: 147px;
  margin: 0 107px;
  min-height: 100px;
}
.recipes .recipes-content h1 {
  font-family: Caveat-Bold;
  font-size: 25px;
  display: block;
}
.recipes .recipes-content .recipes-container {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipes .recipes-content .recipes-container .recipe-box {
  height: 263px;
  width: 524px;
  display: flex;
  margin-top: 50px;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc {
  width: 224px;
  border-radius: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Lato;
  align-items: center;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc h1 {
  font-size: 15px;
  margin: 46px auto 20px auto;
  width: 140px;
  text-decoration: underline 2px solid #000;
  text-align: center;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc p {
  font-size: 9px;
  width: 140px;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-time {
  text-align: center;
  height: 30px;
  width: 84px;
  display: flex;
  margin-bottom: 17px;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-time .recipe-time-img {
  width: 25px;
  height: 25px;
  background-image: url(../images/time.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-time p {
  margin: auto;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-servings {
  text-align: center;
  height: 25px;
  width: 84px;
  display: flex;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-servings .recipe-servings-img {
  width: 25px;
  height: 25px;
  background-image: url(../images/servings.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-servings p {
  margin: auto;
}
.recipes .recipes-content #recipe-pizza .recipe-img {
  height: 100%;
  width: 300px;
  border-radius: 24px;
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.recipes .recipes-content #recipe-burger .recipe-img {
  height: 100%;
  width: 300px;
  border-radius: 24px;
  background-image: url(../images/recipe-burger.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.recipes .recipes-content #recipe-chicken .recipe-img {
  height: 100%;
  width: 300px;
  border-radius: 24px;
  background-image: url(../images/recipe-pilaf.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.recipes .recipes-content #recipe-chowMein .recipe-img {
  height: 100%;
  width: 300px;
  border-radius: 24px;
  background-image: url(../images/recipe-chowmein.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1330px) {
  .recipes .recipes-content {
    margin: 0 50px;
  }
}
@media screen and (max-width: 1220px) {
  .recipes-container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 640px) {
  .recipes .recipes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
  }
  .recipes .recipes-content .recipes-container {
    margin-top: -30px;
  }
  .recipes .recipes-content .recipes-container .recipe-box {
    flex-direction: column;
    min-height: 320px;
    margin-bottom: 50px;
    align-items: center;
  }
  .recipes .recipes-content .recipes-container .recipe-box .recipe-img {
    width: 300px;
    min-height: 150px;
  }
  .recipes .recipes-content .recipes-container .recipe-box .recipe-desc {
    width: 300px;
    font-size: 8px;
  }
  .recipes .recipes-content .recipes-container .recipe-box .recipe-desc h1 {
    margin-top: 10px;
    font-size: 10px;
  }
  .recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-servings {
    margin-bottom: 20px;
  }
}
.login {
  min-height: 800px;
  background-color: #ffd972;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login-container {
  width: 707px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .login-container input {
  display: block;
  width: 100%;
  margin-top: 30px;
  height: 30px;
  font-size: 15px;
  font-family: Lato;
  background: transparent;
  border: 0;
  border-bottom: solid #000 3px;
}
.login .login-container h1 {
  font-family: Lato;
  font-size: 30px;
}
.login .login-container ::placeholder {
  color: #000;
}
.login .login-container .login-login {
  margin: auto 0;
  width: 207px;
}
.login .login-container .login-signup {
  margin: auto 0;
  width: 250px;
}
.login .login-container .login-signup p {
  font-family: Lato;
  font-style: italic;
}
.login .login-container #login-submit {
  width: 209px;
  height: 52px;
  background-color: #ffd972;
  border-radius: 26px;
  margin: 50px auto;
  border: 0;
  color: #000;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}
.login .login-container #signup-submit {
  width: 250px;
  height: 52px;
  background-color: #ffd972;
  border-radius: 26px;
  margin: 50px auto;
  border: 0;
  color: #000;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 900px) {
  .login .login-container {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .login .login-container {
    flex-direction: column;
    margin-bottom: 120px;
  }
  .login .login-container .login-login {
    margin: 180px auto 118px auto;
  }
  .login .login-container .login-signup {
    width: 207px;
  }
}
.create {
  min-height: 100vh;
  background-color: #fff;
  color: #000;
}
.create h1 {
  padding-top: 150px;
  font-family: Caveat-Bold;
  width: 75%;
  margin: 0 auto;
}
.create .create-container {
  margin: 0 auto;
  padding-bottom: 90px;
  width: 75%;
}
.create .create-container p {
  font-size: 20px;
  font-family: Lato;
  margin: 80px auto -40px auto;
}
.create .create-container div input {
  display: block;
  width: 100%;
  margin-top: 80px;
  height: 40px;
  font-size: 20px;
  font-family: Lato;
  background: transparent;
  border: 0;
  border-bottom: solid #000 3px;
}
.create .create-container div ::placeholder {
  color: #000;
}
.create #submit {
  width: 422px;
  height: 52px;
  color: #000;
  background-color: #efa7a7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Caveat;
  font-size: 25px;
  border-radius: 26px;
  border: none;
  margin: 125px auto 70px auto;
}

@media screen and (max-width: 768px) {
  .create h1 {
    width: 80%;
  }
  .create .create-container {
    width: 80%;
    margin-top: -20px;
  }
  .create .create-container div input {
    margin-top: 60px;
  }
  .create #submit {
    width: 354px;
  }
}
@media screen and (max-width: 460px) {
  .create .create-container {
    margin-top: -30px;
  }
  .create .create-container div input {
    margin-top: 50px;
  }
  .create #submit {
    width: 283px;
  }
}
footer {
  height: 70px;
  margin: -70px 40px auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato-Italic;
  font-size: 15px;
  color: #393939;
}
footer .footer-links a {
  text-decoration: none;
  color: #393939;
  margin-right: 15px;
}
footer .footer-socials {
  width: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-socials .footer-socials-facebook {
  height: 19px;
  width: 19px;
  background-image: url(../images/facebook.svg);
}
footer .footer-socials .footer-socials-instagram {
  height: 19px;
  width: 19px;
  background-image: url(../images/instagram.svg);
}

/*# sourceMappingURL=styles.css.map */
