* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  width: 100%;
}

@font-face {
  font-family: Caveat-Bold;
  src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Caveat;
  src: url(fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: GillSans-Italic;
  src: url(fonts/GillSans\ Italic.ttf);
}
@font-face {
  font-family: GillSans-Light;
  src: url(fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: GillSans;
  src: url(fonts/GillSans.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-BoldItalic;
  src: url(fonts/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: Lato-Italic;
  src: url(fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Regular.ttf);
}
.navHolder {
  height: 132px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -132px;
}
.navHolder .nav-logo {
  margin-left: 50px;
  width: 224px;
  height: 55px;
  background-image: url(../images/logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.navHolder .nav-links {
  margin: auto 50px auto auto;
}
.navHolder .nav-links a {
  font-family: Caveat;
  font-size: 25px;
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}
.navHolder .nav-links a span {
  height: 52px;
  width: 158px;
  width: 300px;
  background-color: #ffd972;
  border-radius: 10px;
}

.home {
  height: 800px;
  background-image: linear-gradient(rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .home-banner .home-circle-one {
  height: 358px;
  width: 358px;
  border-radius: 179px;
  background-color: #ffd972;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .home-banner .home-circle-one h1 {
  font-family: Caveat-Bold;
  font-size: 24px;
}
.home .home-banner .home-circle-one p {
  font-family: Lato;
  font-size: 13px;
  width: 166px;
}
.home .home-banner .home-circle-two {
  height: 168px;
  width: 168px;
  background-color: #fcbcb8;
  border-radius: 84px;
  position: absolute;
  margin: 0 0 320px 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-banner .home-circle-two p {
  font-family: Lato-Italic;
  font-size: 10px;
  width: 105px;
}

.recipes {
  height: 1000px;
  background-image: linear-gradient(rgba(167, 232, 189, 0.5), rgba(167, 232, 189, 0.5)), url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes .recipes-content {
  padding-top: 200px;
  padding-bottom: 147px;
  margin: 0 107px;
  min-height: 100px;
}
.recipes .recipes-content h1 {
  font-family: Caveat-Bold;
  font-size: 25px;
  margin-bottom: 52px;
  display: block;
}
.recipes .recipes-content .recipes-container {
  min-height: 100px;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipes .recipes-content .recipes-container .recipe-box {
  height: 263px;
  width: 524px;
  background-color: blue;
  display: flex;
  margin-bottom: 50px;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-img {
  height: 100%;
  width: 300px;
  border-radius: 24px;
  background-image: url(../images/recipe-pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc {
  width: 224px;
  border-radius: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Lato;
  align-items: center;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc h1 {
  font-size: 15px;
  margin: 46px auto 20px auto;
  width: 140px;
  text-decoration: underline 2px solid #000;
  text-align: center;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc p {
  font-size: 9px;
  width: 140px;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-time {
  text-align: center;
  height: 30px;
  width: 84px;
  display: flex;
  margin-bottom: 17px;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-time .recipe-time-img {
  width: 25px;
  height: 25px;
  background-image: url(../images/time.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-time p {
  margin: auto;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-servings {
  text-align: center;
  height: 25px;
  width: 84px;
  display: flex;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-servings .recipe-servings-img {
  width: 25px;
  height: 25px;
  background-image: url(../images/servings.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes .recipes-content .recipes-container .recipe-box .recipe-desc .recipe-servings p {
  margin: auto;
}

footer {
  height: 70px;
  margin: -70px 40px auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato-Italic;
  font-size: 15px;
  color: #393939;
}
footer .footer-links a {
  text-decoration: none;
  color: #393939;
  margin-right: 15px;
}
footer .footer-socials {
  width: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-socials .footer-socials-facebook {
  height: 19px;
  width: 19px;
  background-image: url(../images/facebook.svg);
}
footer .footer-socials .footer-socials-instagram {
  height: 19px;
  width: 19px;
  background-image: url(../images/instagram.svg);
}

/*# sourceMappingURL=styles.css.map */
