.login {
  min-height: 800px;
  background-color: $site-yellow;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container {
    width: 707px;
    // width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      display: block;
      width: 100%;
      margin-top: 30px;
      height: 30px;
      font-size: 15px;
      font-family: Lato;
      background: transparent;
      border: 0;
      border-bottom: solid #000 3px;
    }

    h1 {
      font-family: Lato;
      font-size: 30px;
    }

    ::placeholder {
      color: #000;
    }

    .login-login {
      margin: auto 0;
      width: 207px;

      p {
        font-family: Lato;
        font-style: italic;
      }
    }

    .login-signup {
      margin: auto 0;
      width: 250px;

      p {
        font-family: Lato;
        font-style: italic;
      }
    }

    #login-submit {
      width: 209px;
      height: 52px;
      background-color: $site-yellow;
      border-radius: 26px;
      margin: 50px auto;
      border: 0;
      color: #000;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
    }

    #signup-submit {
      width: 250px;
      height: 52px;
      background-color: $site-yellow;
      border-radius: 26px;
      margin: 50px auto;
      border: 0;
      color: #000;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
    }
  }
}

@media screen and (max-width: 900px) {
  .login {
    .login-container {
      width: 75%;
    }
  }
}

@media screen and (max-width: 768px) {
  .login {
    .login-container {
      flex-direction: column;
      margin-bottom: 120px;

      .login-login {
        margin: 180px auto 118px auto;
      }

      .login-signup {
        width: 207px;
      }
    }
  }
}
