.your-recipes {
  min-height: 1000px;
  background-image: linear-gradient(
      rgba($site-green, 0.5),
      rgba($site-green, 0.5)
    ),
    url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .your-recipes-content {
    padding-top: 200px;
    padding-bottom: 147px;
    margin: 0 107px;
    min-height: 100px;

    h1 {
      font-family: Caveat-Bold;
      font-size: 25px;
      display: block;
    }

    .your-recipes-container {
      min-height: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .your-recipe-box {
        height: 263px;
        width: 524px;
        display: flex;
        margin-top: 50px;

        .your-recipe-img {
          img {
            height: 263px;
            width: 300px;
            border-radius: 24px;
            object-fit: cover;
          }

          .recipe-buttons {
            .recipe-btn {
              height: 42px;
              width: 128px;
              border-radius: 26px;
              font-family: Caveat;
              font-size: 20px;
              background-color: $site-yellow;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              cursor: pointer;
            }

            #recipe-btn-view {
              margin: 110px 86px;
            }

            #recipe-btn-edit {
              margin: 278px 10px 0 15px;
            }

            #recipe-btn-delete {
              margin: 278px 15px 0 158px;
            }
          }
        }

        .your-recipe-img:hover .recipe-btn {
          display: flex;
        }

        // for some reason I can't get it to show on recipe-box, just on recipe-img. tried doing the same with recipe-desc and it didn't work there either.

        // these buttons are similar to ther buttons on this site

        .recipe-desc {
          width: 224px;
          border-radius: 24px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          font-family: Lato;
          align-items: center;

          h1 {
            font-size: 15px;
            margin: 46px auto 20px auto;
            width: 140px;
            text-decoration: underline 2px solid #000;
            text-align: center;
          }

          p {
            font-size: 9px;
            width: 140px;
          }

          .recipe-time {
            text-align: center;
            height: 30px;
            width: 84px;
            display: flex;
            margin-bottom: 17px;

            .recipe-time-img {
              width: 25px;
              height: 25px;
              background-image: url(../images/time.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }

            p {
              margin: auto;
            }
          }

          .recipe-servings {
            text-align: center;
            height: 25px;
            width: 84px;
            display: flex;

            .recipe-servings-img {
              width: 25px;
              height: 25px;
              background-image: url(../images/servings.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }

            p {
              margin: auto;
            }
          }
        }
        // end manual code
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .your-recipes {
    .your-recipes-content {
      margin: 0 50px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .your-recipes-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .your-recipes {
    .your-recipes-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 140px;

      .your-recipes-container {
        margin-top: -30px;
        .recipe-box {
          flex-direction: column;
          min-height: 320px;
          margin-bottom: 50px;
          align-items: center;
          .recipe-img {
            img {
              width: 300px;
              height: 150px;
            }
          }

          .recipe-desc {
            width: 300px;
            font-size: 8px;

            h1 {
              margin-top: 10px;
              font-size: 10px;
            }

            .recipe-servings {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
