.recipes {
  min-height: 1000px;
  background-image: linear-gradient(
      rgba($site-green, 0.5),
      rgba($site-green, 0.5)
    ),
    url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .recipes-content {
    padding-top: 200px;
    padding-bottom: 147px;
    margin: 0 107px;
    min-height: 100px;

    h1 {
      font-family: Caveat-Bold;
      font-size: 25px;
      display: block;
    }

    .recipes-container {
      min-height: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .recipe-box {
        @include defaultRecipeBox();
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .recipes {
    .recipes-content {
      margin: 0 50px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .recipes-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .recipes {
    .recipes-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 140px;

      .recipes-container {
        margin-top: -30px;
        .recipe-box {
          flex-direction: column;
          min-height: 320px;
          margin-bottom: 50px;
          align-items: center;
          .recipe-img {
            img {
              width: 300px;
              height: 150px;
            }
          }

          .recipe-desc {
            width: 300px;
            font-size: 8px;

            h1 {
              margin-top: 10px;
              font-size: 10px;
            }

            .recipe-servings {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
