.recipes {
  height: 1000px;
  background-image: linear-gradient(
      rgba($site-green, 0.5),
      rgba($site-green, 0.5)
    ),
    url(../images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .recipes-content {
    padding-top: 200px;
    padding-bottom: 147px;
    margin: 0 107px;
    min-height: 100px;

    h1 {
      font-family: Caveat-Bold;
      font-size: 25px;
      margin-bottom: 52px;
      display: block;
    }

    .recipes-container {
      min-height: 100px;
      //   background-color: red;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .recipe-box {
        height: 263px;
        width: 524px;
        display: flex;
        margin-bottom: 50px;

        .recipe-desc {
          width: 224px;
          border-radius: 24px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          font-family: Lato;
          align-items: center;

          h1 {
            font-size: 15px;
            margin: 46px auto 20px auto;
            width: 140px;
            text-decoration: underline 2px solid #000;
            text-align: center;
          }

          p {
            font-size: 9px;
            width: 140px;
          }

          .recipe-time {
            text-align: center;
            height: 30px;
            width: 84px;
            display: flex;
            margin-bottom: 17px;

            .recipe-time-img {
              width: 25px;
              height: 25px;
              background-image: url(../images/time.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }

            p {
              margin: auto;
            }
          }

          .recipe-servings {
            text-align: center;
            height: 25px;
            width: 84px;
            display: flex;

            .recipe-servings-img {
              width: 25px;
              height: 25px;
              background-image: url(../images/servings.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }

            p {
              margin: auto;
            }
          }
        }
      }
    }

    #recipe-pizza {
      .recipe-img {
        height: 100%;
        width: 300px;
        border-radius: 24px;
        background-image: url(../images/recipe-pizza.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    #recipe-burger {
      .recipe-img {
        height: 100%;
        width: 300px;
        border-radius: 24px;
        background-image: url(../images/recipe-burger.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    #recipe-chicken {
      .recipe-img {
        height: 100%;
        width: 300px;
        border-radius: 24px;
        background-image: url(../images/recipe-pilaf.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    #recipe-chowMein {
      .recipe-img {
        height: 100%;
        width: 300px;
        border-radius: 24px;
        background-image: url(../images/recipe-chowmein.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
